/* 타이틀 */
@font-face {
    font-family: 'Tenada';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* 버튼 */
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* placeholder */
@font-face {
    font-family: 'YUniverse-B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-B.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.addgroup_box {
    margin: auto;
    width: 650px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* 그룹다이어리 이미지 */
.groupdiary {
    background-image: url('../img/groupD_3.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    float: left;
}

/* 그룹 추가 */
.addgroup_box .add-form {
    width: 350px;
    height: 300px;
    text-align: center;
    padding: 80px 20px 80px 30px;
    float: left;
    vertical-align: middle;
}

/* 등록하는 부분 */
.addgroup_box .add-input {
    display: inline-block;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    padding-left: 43px;
    margin-bottom: 20px;
    border: 3px solid #a5f2ad;
    font-family: 'YUniverse-B';
    font-size: 22px;
}
.addgroup_box .add-input:focus {
    outline: 3px solid #14B21F;
    border: 3px solid rgba(255, 255, 255, 0);
}

.addgroup_box .add-input::placeholder {
    font-family: 'YUniverse-B';
    font-size: 16px;
}

/* 하트로고 */
.grouptitleimg {
    width: 27px;
    height: 27px;
    display: inline-block;
    position: absolute;
    top: 91px;
    left: 340px;
    background-image: url('../img/login_icon.png');
    background-size: 27px;
    background-repeat: no-repeat;
}

/* .groupMemberidimg {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: 91px;
    left: 340px;
    background-image: url('../img/login_icon.png');
    background-size: contain;
    background-repeat: no-repeat;
} */

/* 등록버튼 */
.addgroup_box .add-button {
    width: 150px;
    height: 50px;
    float: right;
    margin-top: 20px;
    border-radius: 50px;
    border: 3px solid#a5f2ad;
    transition: all .5s ease;
    background-color: #14B21F;
    color: white;
    font-family: 'OSeongandHanEum';
    font-size: 16px;
    font-weight: 600;
}

.addgroup_box .add-button:hover {
    background-color: #d9ffdd;
    border: 3px solid #14B21F;
    box-shadow: 0px 0px 8px #14B21F;
    color: #14B21F;
    width: 100%;
    font-size: 18px;
}

/* 모달 */

.add-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-modalBody {
    position: flex;
    width: 850px;
    height: 500px;
    padding: 40px;
    text-align: center;
    background-color: #FFFDE7;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

.modalClose {
    position: absolute;
    right: 10px;
    left: 10px;
}