@font-face {
  font-family: 'Tenada';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.groupEachdiary {
  float: left;
  width: 300px;
  height: 350px;
  margin-right: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.groupEachdiary img {
  width: 100%;
}

.groupEachdiary .share_title {
  font-family: 'Tenada';
  font-size: 24px;
  margin: 0px;
}