@font-face {
  font-family: 'BMDOHYEON';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.groupEachdiary {
  float: left;
  width: 300px;
  height: 350px;
  margin-right: 30px;
  margin-bottom: 20px;
  text-align: center;
  /* border: 3px solid purple; */
}
.groupEachdiary img {
  width: 100%;
}

.groupEachdiary .share_title {
  font-family: 'BMDOHYEON';
  font-size: 18px;
  margin: 0px;
}
