* {
  box-sizing: border-box;
}

.registPage {
  /* width: 1920px; */
  background-image: url('../img/bgB_signup.png');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: block;
  height: 100vh;
  box-sizing: border-box;
}

.registContainer {
  width: 1000px;
  height: 600px;
  border-radius: 20px;
  box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.7);
  background-color: rgba(169, 169, 169, 0.4);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* 로고 */
.registLogo {
  /* background-color: pink; */
  width: 500px;
  height: 600px;
  background-image: url('../img/logo_black.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 500px 500px;
  float: left;
}

/* 입력창 */
.registPage .registInput {
  /* background-color: skyblue; */
  width: 500px;
  height: 600px;
  padding: 0px 100px 0px 20px;
  float: left;
}

.registForm {
  width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .registForm input {
  font-family: 'Noto Sans KR', 'Noto Sans Korean', "Nanum Gothic", sans-serif !important;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 0;
  outline: none;
  font-size: 10px;
} */

/* box1 */
.registInputBox1,
.registInputBox2 {
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.registInputBox1 input,
.registInputBox2 input {
  width: 100%;
  height: 60px;
  padding-left: 40px;
  padding-top: 9px;
  border-radius: 10px;
  border: 2px solid gray;
  box-shadow: 3px 3px 5px gray;
  font-family: 'Tenada';
  font-size: 16px;
  outline: none;
}

.registInputBox1 label {
  display: none;
  position: absolute;
  top: 24px;
  left: 25px;
  padding: 8px;
}

/* box2 */
/* .registInputBox2 {
  width: 100%;
    box-sizing: border-box;
    position: relative;
}
.registInputBox2 input {
  width: 100%;
    height: 60px;
    padding-left: 40px;
    padding-top: 10px;
    border-radius: 10px;
    border: 2px solid gray;
    box-shadow: 3px 3px 5px gray;
    font-family: 'Tenada';
    font-size: 16px;
    outline: none;
} */
.registInputBox2 label {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 40px;
  background: rgba(255, 255, 255, 0);
}

/* 입력시 작게 뜨는 글씨 */
.registInputBox1 label span,
.registInputBox2 label span {
  font-family: 'OSeongandHanEum';
  font-size: 10px;
  font-weight: bold;
  color: #979797;
}

/* .registInputBox2 label span {
  font-family: 'OSeongandHanEum';
    font-size: 10px;
    font-weight: bold;
    color: #979797;
} */

/* placeholder 아이콘 */
.A {
  width: 23px;
  height: 23px;
  background-image: url('../img/login_icon.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 23px 23px;
  position: absolute;
  top: 18px;
  left: 5px;
  font-size: 14px;
  color: #888;
  font-weight: bold;
}

.checkCircle {
  position: absolute;
  right: 3%;
  top: 40%;
  width: 10%;
}

.confirmMsg,
.confirmMsg2 {
  font-family: 'OSeongandHanEum';
  font-size: 10px;
  font-weight: bold;
  position: relative;
  width: 98%;
  height: 30px;
  padding: 5px 0px 0px 5px;
  margin: auto;
}

/* 가입하기 버튼 */
#registButton1,
#registButton2 {
  width: 90px;
  height: 40px;
  border-radius: 50px;
  border: 3px solid#A9A9A9;
  transition: all .5s ease;
  background-color: black;
  color: white;
  font-family: 'OSeongandHanEum';
  font-weight: bold;
  font-size: 14px;
  float: right;
  margin-left: 16px;
}
#registButton1 {
  cursor: pointer;
}

/* #registButton2{
  width: 90px;
    height: 40px;
    border-radius: 50px;
    border: 3px solid#A9A9A9;
    transition: all .5s ease;
    background-color: black;
    color: white;
    font-family: 'OSeongandHanEum';
    font-weight: bold;
    font-size: 14px;
    float: right;
    margin-left: 16px;
    cursor: pointer;
} */

#registButton1:hover {
  background-color: #A9A9A9;
  border: 3px solid black;
  box-shadow: 0px 0px 8px black;
  color: black;
  font-size: 18px;
}



@media (max-width: 1920px) {
  .loginPage {
    width: 1920px;
  }
}