/* 타이틀 서체 */
@font-face {
  font-family: 'Tenada';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 내용 서체 */
@font-face {
  font-family: 'KyoboHand';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 버튼서체 */
@font-face {
  font-family: 'OSeongandHanEum';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OSeongandHanEum.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

/* 모달 이미지 */
.modelLeft {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
  float: left;
  clear: both;
}

.modelLeft .modalImg {
  min-width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 글쓰기 */
.modalRight {
  width: 50%;
  height: 100%;
  padding: 30px 0px 30px 40px;
  float: left;
  position: relative;
}

/* 모달 글쓴페이지 */
.modalRightHeader {
  width: 100%;
  height: 80px;
  line-height: 60px;
  font-weight: bold;
  border-bottom: 6px dotted #a5c9fc;
}

.write_day {
  float: left;
  font-family: 'Tenada';
  font-size: 30px;
}

/* 날씨 기분 */
.modalRightHeaderRight {
  float: right;
}

.weather_detail {
  width: 60px;
  height: 60px;
  float: left;
}

.mood_detail {
  width: 60px;
  height: 60px;
  margin-left: 12px;
  float: left;
}

/* 내용 */
.dairyContents {
  width: 100%;
  height: 500px;
  margin: 30px 0px;
  padding: 5px 12px 5px 5px;
  text-align: justify;
  /* scroll */
  line-height: 35px;
  overflow-y: auto;
  -webkit-line-clamp: 14;
  /* 원하는 줄 수를 입력하세요 */
  background: none;
  font-family: 'KyoboHand';
  font-size: 22px;
  border: none;
  resize: none;
  /* textarea 사이즈 조절 막기 */
}

.dairyContents:focus {
  outline: none;
  background-color: #b4d4fc81;
}

/* 스크롤바css */
.dairyContents::-webkit-scrollbar {
  width: 8px;
  height: 200px;
}

.dairyContents::-webkit-scrollbar-thumb {
  background-color: #ffed86;
  border-radius: 5px;
  transition: width 0.2s ease-in-out;
}

.dairyContents::-webkit-scrollbar-thumb:hover {
  background-color: #a5c9fc;
}

/* 수정 삭제 버튼 */
.bottom {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.modalCloseBtn {
  width: 80px;
  height: 50px;
  line-height: 45px;
  border-radius: 50px;
  transition: all .1s ease;
  border: 3px solid #2179F9;
  background-color: #B4D4FC;
  font-family: 'OSeongandHanEum';
  font-size: 16px;
  font-weight: 600;
  color: #2179F9;
  margin-left: 15px;
  padding: 0px;
}

.modalCloseBtn:hover {
  background-color: #2179F9;
  border: 3px solid #B4D4FC;
  box-shadow: 0px 0px 10px #2179F9;
  color: #ffff;
  font-size: 18px;
  font-weight: bold;
}