@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 버튼서체 */
@font-face {
    font-family: 'OSeongandHanEum';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OSeongandHanEum.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

/* 백그라운드 이미지 */
.mydiarywrite_background {
    width: 100%;
    background-image: url('../img/bg_myWrite.png');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: block;
    padding: 80px 300px;
}

.mydiarywrite_background::after {
    display: block;
    content: "";
    clear: both;
}

/* 전체 컨테이너 */
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.container h1 {
    font-family: 'Tenada';
    font-size: 42px;
}

/* 날씨, 기분 선택 */
.writeheader {
    width: 100%;
}

.writeheader .weather-container,
.writeheader .mood-container {
    width: 49.5%;
    height: 70px;
    float: left;
    background-color: #cccccc;
    font-family: 'Tenada';
    font-size: 20px;
    padding: 0px 30px;
}

.writeheader .mood-container {
    float: right;
}

.writeheader .weather-container .privateweather_img,
.writeheader .mood-container .privatemood_img {
    margin-left: 30px;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    cursor: pointer;
}

.writeheader .weather-container p,
.writeheader .mood-container p {
    display: inline-block;
    height: 70px;
    line-height: 70px;
    vertical-align: middle;
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px 30px 5px 0px;
}

/* 일기 본문 */
.writebody_private {
    width: 100%;
    height: 400px;
    background-color: #cccccc;
    font-family: 'KyoboHand';
    font-size: 22px;
    color: black;
    margin-top: 30px;
    padding: 20px 30px;
    border: 6px dotted rgb(180, 212, 252, 0);
    resize: none;
}

.writebody_private:focus {
    border: 6px dotted #84bafc;
    outline: none;
}

/* 일기 본문placeholder 값 설정 */
.writebody_private::placeholder {
    font-size: 18px;
    color: gray;
}

/* 파일첨부 */
.writefooter {
    width: 100%;
    height: 70px;
    line-height: 70px;
    background-color: #cccccc;
    margin-top: 30px;
    padding: 0px 30px;
}

.writefooter::after {
    display: block;
    content: '';
    clear: both;
}

.fileBox_private {
    font-family: 'OSeongandHanEum';
    font-size: 16px;
    font-weight: bold;
    color: #666666;
}

.writefooter .fileBox_private::-webkit-file-upload-button {
    font-family: 'OSeongandHanEum';
    font-size: 16px;
    font-weight: bold;
    height: 45px;
    padding: 0px 10px;
    margin-right: 20px;
    border-radius: 10px;
    transition: all .1s ease;
    border: 3px solid #9033fa;
    background-color: #c29eeb;
    cursor: pointer;
}

/* 제출 버튼 */
.submit_private {
    float: right;
    width: 100px;
    height: 55px;
    border-radius: 50px;
    transition: all .1s ease;
    border: 3px solid #2179F9;
    background-color: #B4D4FC;
    font-family: 'OSeongandHanEum';
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-top: 40px;
    padding: 0px;
    cursor: pointer;
}

.submit_private:hover {
    background-color: #2179F9;
    border: 3px solid #B4D4FC;
    box-shadow: 0px 0px 8px #2179F9;
    font-size: 18px;
}

@media (max-width: 1920px) {
    .mydiarywrite_background {
        width: 1920px;
    }
}